// Extend

.titulosBody {
    text-align: center;
}

.fontTabla {
    @extend .titulosBody;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: small;
}
/*Menu Nav*/
.imagenLogo {
    width: 55%;
    height: 15%;
}
.menuNav {
    text-align: right;
}
//Mixin
@mixin margenNav ($margenes) {
    margin: $margenes;
}
.margenesNav {
    @include margenNav (2rem 2rem 2rem 2rem)
    } 
    /*Carrousel*/
.carrousel {
    @include margenNav (2rem 10rem 5rem 10rem)
    }    
.margenCard {
    @include margenNav(2rem 2rem)
        }
.margenesTabla {
    @include margenNav(3rem)
        }

@mixin imagenesCard ($alto,$ancho) {
    width: $ancho;
    height: $alto;
}
.imagenCard {
    @include imagenesCard(400px,400px)
}
.imagenProductos {
    @include imagenesCard(300px, 200px)
}
.imagenNosotros {
    @include imagenesCard(700px, 1200px)
}
.precios {
    font-weight: bold;
    font-size: 30px;
}
/*Mapa sucursales*/

.mapa.map-responsive {
    padding: 0rem;

}

.sucursalesMapa {
    display: flex;
    justify-content: center;
}
.flexCompra {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

