.margenesNav {
    margin: 10rem 2rem 2rem 2rem; 
}
.carrousel {
    margin: 10rem 2rem 2rem 2rem;
    }
  
    .titulosBody {
        text-align: center;
    }
     
    .margenCard {
        margin: 2rem 2rem;
        }
.imagenCard {
    width: 400px;
    height: 400px;
}
.imagenProductos {
    width: 200px;
    height: 300px;
}
.precios {
    font-weight: bold;
    font-size: 30px;
}
.mapa {
    text-align: center;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;

   &:iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

}
.flexCompra {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

.margenesTabla {
    margin: 10rem; 
}