.margenesNav {
    margin: 10rem 2rem 2rem 2rem; 
}
.carrousel {
    margin: 10rem 2rem 2rem 2rem;
    }
  
    .titulosBody {
        text-align: center;
    }
     
    .margenCard {
        margin: 2rem 2rem;
        }
.imagenCard {
    width: 400px;
    height: 400px;
}
.precios {
    font-weight: bold;
    font-size: 30px;
}