/*Para vista mobile*/
@media screen and (max-width: 1024px) {
    .imagenCard {
        width: 200px;
        height: 200px;
     }
     }
@media screen and (max-width: 975px) {
    .imagenForm {
        display:none;
     }
     }
@media screen and (max-width: 480px) {
    .carrousel {
        margin: 10rem 0rem 2rem 0rem;
    }
    .flexFormulario {
        display: flex;
        flex-direction: column;
    }
    }