/*Para vista mobile*/
@media screen and (max-width: 1024px) {
    .imagenCard {
        width: 200px;
        height: 200px;
     }
     .cardNosotros {
        width: 880px;
        height: 650px;
        font-size: 15px;
        padding: 0px;
        display: flex;
        justify-content: center;
    }
    .responsiveTarjetas {
        display: flex;
   flex-wrap: nowrap;
    }
     }

@media screen and (max-width: 975px) {
    .imagenForm {
        display:none;
     }
     .margenesTabla {
        margin: 2rem; 
    }
    .carrousel {
        margin: 2rem 0rem 2rem 0rem;
    }
    .cardNosotros {
        width: 680px;
        height: 550px;
        font-size: 12px;
        padding: 0px;
        display: flex;
        justify-content: center;
    }
    .flexTarjetas {
        display: flex;
    
        align-items: flex-start;
    }
     }
     @media screen and (max-width: 760px) {
        .cardNosotros {
            width: 580px;
            height: 530px;
            font-size: 12px;
            padding: 0px;
            display: flex;
            justify-content: center;
        }    
         }
         @media screen and (max-width: 650px) {
            .cardNosotros {
                width: 400px;
                height: 530px;
                font-size: 12px;
                padding: 0px;
                display: flex;
                justify-content: center;
            }    
             }
@media screen and (max-width: 480px) {

.navbar-brand {
    margin: 0rem;
    padding: 0rem;
    display: flex;
    justify-content: center;
}

.imagenCard {
display: flex;
justify-content: center;
}
.headerMQ {
    display: flex;
    justify-content: center;
}
   
    .flexFormulario {
        display: flex;
        flex-direction: column;
    }
    .cardNosotros {
        width: 280px;
        height: 550px;
        font-size: 12px;
        padding: 0px;
        display: flex;
        justify-content: center;
    } 
    .fontTabla {
        font-size: 12px;
    }
    .map-responsive{
        overflow:hidden;
        padding-bottom:40%;
        position:relative;
        height:0;
    
       &iframe {
        left:0;
        top:0;
        height:100%;
        width:100%;
        position:absolute;
    }
    }
}