* {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: 'Public Sans', sans-serif; }

.degrade {
  background: #dadada;
  background: linear-gradient(90deg, #dadada 0%, #ededed 100%); }

.margenesNav {
  margin: 10rem 2rem 2rem 2rem; }

.carrousel {
  margin: 10rem 2rem 2rem 2rem; }

.titulosBody {
  text-align: center; }

.margenCard {
  margin: 2rem 2rem; }

.imagenCard {
  width: 400px;
  height: 400px; }

.precios {
  font-weight: bold;
  font-size: 30px; }

.margenForm {
  margin: 0rem 2rem 2rem 2rem; }

.flexFormulario {
  display: flex;
  flex-direction: row; }

.imagenForm {
  width: auto; }

/*Para vista mobile*/
@media screen and (max-width: 975px) {
  .imagenForm {
    display: none; } }

@media screen and (max-width: 480px) {
  .carrousel {
    margin: 10rem 0rem 2rem 0rem; }
  .flexFormulario {
    display: flex;
    flex-direction: column; } }
