* {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: 'Public Sans', sans-serif; }

.degrade {
  background: #dadada;
  background: linear-gradient(90deg, #dadada 0%, #ededed 100%); }

.margenesNav {
  margin: 10rem 2rem 2rem 2rem; }

.carrousel {
  margin: 10rem 2rem 2rem 2rem; }

.titulosBody {
  text-align: center; }

.margenCard {
  margin: 2rem 2rem; }

.imagenCard {
  width: 400px;
  height: 400px; }

.precios {
  font-weight: bold;
  font-size: 30px; }

.mapa {
  text-align: center; }

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0; }
  .map-responsive:iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute; }

.margenesTabla {
  margin: 10rem; }

.margenForm {
  margin: 0rem 2rem; }

.flexFormulario {
  display: flex;
  flex-direction: row; }

.imagenForm {
  width: auto; }

/*Para vista mobile*/
@media screen and (max-width: 1024px) {
  .imagenCard {
    width: 200px;
    height: 200px; } }

@media screen and (max-width: 975px) {
  .imagenForm {
    display: none; }
  .margenesTabla {
    margin: 10rem 0rem 0rem 0rem; } }

@media screen and (max-width: 480px) {
  .carrousel {
    margin: 10rem 0rem 2rem 0rem; }
  .flexFormulario {
    display: flex;
    flex-direction: column; }
  .map-responsive {
    overflow: hidden;
    padding-bottom: 40%;
    position: relative;
    height: 0; }
    .map-responsive:iframe {
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      position: absolute; } }
