/*Reinicios generales*/
* {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: 'Public Sans', sans-serif; }

a {
  text-decoration: none;
  color: black; }

a:hover {
  color: #686666; }

.degrade {
  background: #dadada;
  background: linear-gradient(90deg, #dadada 0%, #ededed 100%); }

.titulosBody, .fontTabla {
  text-align: center; }

.fontTabla {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: small; }

/*Menu Nav*/
.imagenLogo {
  width: 55%;
  height: 15%; }

.menuNav {
  text-align: right; }

.margenesNav {
  margin: 2rem 2rem 2rem 2rem; }

/*Carrousel*/
.carrousel {
  margin: 2rem 10rem 5rem 10rem; }

.margenCard {
  margin: 2rem 2rem; }

.margenesTabla {
  margin: 3rem; }

.imagenCard {
  width: 400px;
  height: 400px; }

.imagenProductos {
  width: 200px;
  height: 300px; }

.imagenNosotros {
  width: 1200px;
  height: 700px; }

.precios {
  font-weight: bold;
  font-size: 30px; }

/*Mapa sucursales*/
.mapa.map-responsive {
  padding: 0rem; }

.sucursalesMapa {
  display: flex;
  justify-content: center; }

.flexCompra {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

/*Formulario contacto*/
.margenForm {
  margin: 0rem 2rem; }

.flexFormulario {
  display: flex;
  flex-direction: row; }

.imagenForm {
  width: auto; }

/*Para vista mobile*/
@media screen and (max-width: 1024px) {
  .imagenCard {
    width: 200px;
    height: 200px; }
  .cardNosotros {
    width: 880px;
    height: 650px;
    font-size: 15px;
    padding: 0px;
    display: flex;
    justify-content: center; } }

@media screen and (max-width: 975px) {
  .imagenForm {
    display: none; }
  .margenesTabla {
    margin: 2rem; }
  .carrousel {
    margin: 2rem 0rem 2rem 0rem; }
  .cardNosotros {
    width: 680px;
    height: 550px;
    font-size: 12px;
    padding: 0px;
    display: flex;
    justify-content: center; } }

@media screen and (max-width: 760px) {
  .cardNosotros {
    width: 580px;
    height: 530px;
    font-size: 12px;
    padding: 0px;
    display: flex;
    justify-content: center; } }

@media screen and (max-width: 650px) {
  .cardNosotros {
    width: 400px;
    height: 530px;
    font-size: 12px;
    padding: 0px;
    display: flex;
    justify-content: center; } }

@media screen and (max-width: 480px) {
  .navbar-brand {
    margin: 0rem;
    padding: 0rem;
    display: flex;
    justify-content: center; }
  .imagenCard {
    display: flex;
    justify-content: center; }
  .headerMQ {
    display: flex;
    justify-content: center; }
  .flexFormulario {
    display: flex;
    flex-direction: column; }
  .cardNosotros {
    width: 280px;
    height: 550px;
    font-size: 12px;
    padding: 0px;
    display: flex;
    justify-content: center; }
  .fontTabla {
    font-size: 12px; }
  .map-responsive {
    overflow: hidden;
    padding-bottom: 40%;
    position: relative;
    height: 0; }
    .map-responsiveiframe {
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      position: absolute; } }
